<form class="form-row">
    <div class="form-group col-md-2">
      <label class="sr-only" for="nombre">nombre</label>
      <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" #nombreInput>
    </div>
    <div class="form-group col-md-2">
      <label class="sr-only" for="apellido">apellido</label>
      <input class="form-control" type="text" name="apellido" id="apellido" placeholder="apellido" #apellidoInput>
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit" (click)="agregarPersona()">Agregar</button>
    </div>
</form>
